/* Ancho de la barra de desplazamiento */
.scrollbar-thin::-webkit-scrollbar {
  width: 10px;
}

/* Estilos de la pista de la barra de desplazamiento */
.scrollbar-thin::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  background-color: transparent; /* Ajusta el color de fondo según tus necesidades */
  transition: box-shadow 0.5s ease;
}

.scrollbar-thin::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 6px 6px 6px rgba(29, 28, 28, 0.5);
  border-radius: 15px;
  background-color: transparent; /* Ajusta el color de fondo según tus necesidades */
}

/* Estilos del thumb (barra) de la barra de desplazamiento */
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 15px;
  transition: all 0.5s ease;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(116, 116, 116);
  border-radius: 15px;
}
